# =========================================================
     # ⚙️ CONFIGURATION DU BOT GENESIS-MD-PREMIUM
     # =========================================================
    
     # --- 🆔 AUTHENTIFICATION ---
     # SESSION : Votre session d'authentification (chaîne Base64).
     # Si présente, elle sera utilisée pour restaurer la session.
     SESSION_ID=

  # USE_PAIRING_CODE : true/false
# true  -> Le bot génère un code à 8 chiffres à lier avec OWNER_NUMBER.
  # false -> Le bot affiche un QR Code dans le terminal à scanner.
 USE_PAIRING_CODE=true
 
  # --- 🤖 PERSONNALISATION ---
    BOT_NAME=GENESIS MD
PREFIX=.
  
  # --- 👥 PROPRIÉTAIRE ---
  # OWNER_NUMBER : Votre numéro complet (ex: 2250000000000)
  # Obligatoire pour le Pairing Code et les droits d'administration.
    OWNER_NUMBER=22541777630
   
    # --- 🛠️ MODES ET SYSTÈME ---
    # BOT_MODE : "public" (tous), "private" (proprio uniquement) ou "adminonly" (admins + proprio)
    BOT_MODE=private
   
    # DATABASE : true/false - Activer la base de données SQLite
    DATABASE=true
   
    # SEND_VIEW_ONCE_TO_PRIVATE : true/false - Capture ViewOnce vers le proprio
    SEND_VIEW_ONCE_TO_PRIVATE=true
      # --- 🎨 STICKERS ---
    STICKER_PACK_NAME="Genesis Pack"
   3 STICKER_AUTHOR="Genesis Dev"
    SMART_GPT_MODE="true"
    # --- 🎮 DIVERTISSEMENT ---
    ANIMEMJ_EXCEPTION=
   
    
BOT_NAME=💨 _TOKITO_ 💨
